<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.centerpoint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".C"
        android:allowBackup="true"
        android:background="#FFFFFF"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- 스플래시 액티비티 -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Screen3Activity" />
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBsRw3z-ayQvdL2h3vtVloNZqOWyzwnZA" />

        <activity android:name=".MapViewPage" />
        <activity android:name=".CenterResultPage"/>
    </application>

</manifest>